@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
.detailsMainDiv{
    padding-top: 6rem;
    font-family: 'Lalezar';
    min-height: 70vh;
    .loading{
        margin: 0 auto;
        width: 50%;
    }
    .container{
        display: flex;
        padding-top: 2rem;
        border-top: 2px solid black;
        flex-wrap: wrap;
        
        .right{
            flex: 100%;
            width: 100%;
            text-align: center;
            img{
                width: 90%;
                margin-top: 1rem;
                max-height: 75vh;
            }
        }
        .left{
            flex: 100%;
            width: 100%;
            color: rgb(114, 96, 74);
            text-align: center;
            #name{
                font-size: 3.2rem;
                margin-top: 0;
            }
            ul{
                list-style-type: none;
                padding: 0;
                li{
                    display: inline-block;
                    margin: 0 1rem;
                    font-size: 1.2rem;
                    text-align: center;
                    width: 2rem;
                    height: 2rem;
                    border : 2px solid rgb(110, 90, 64);
                    border-radius: 50%;
                    cursor: pointer;
                }
                .selected{
                    background-color: rgb(110, 90, 64);
                    color: white;
                }
            }

            div{
                text-align: center;
                font-size: 2rem;
                margin: 5rem auto;

                #addBtn{
                    background-color: rgb(110, 90, 64);
                    color: white;
                    width: 40%;
                    margin: 0 auto;
                    font-size: 1.2rem;
                    padding: 1rem;
                    font-family: 'Lalezar';
                    border: none;
                    cursor: pointer;
                    &:hover{
                        background-color: rgb(97, 80, 58);
                    }
                }  
            }
        }
    }
}

@media only screen and (min-width: 800px){

    .detailsMainDiv{
        padding-top: 8rem;
        .container{
            margin: 0 6rem;

            .right{
                flex: 50%;
                width: 50%;
                text-align: center;
                img{
                    width: 60%;
                    max-height: 75vh;
                }
            }
            .left{
                flex: 50%;
                width: 50%;
                text-align: right;
    
            }
        }
    }  
}