@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

.inProgressDiv{
    min-height: 70vh;
    padding-top: 12rem;
    text-align: center;
    font-family: 'Lalezar';
    font-size: 2rem;
}