@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

.main{
    padding-top: 8.5rem;
    font-family: 'Lalezar';
    text-align: center;
    margin: 0 5rem; 
    min-height: 70vh;

    .categoryContainer{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        // justify-content: center;

        .loading{
            img{
                display: block;
                margin: 0 auto;
                width: 50%;
            }
        }
    }

}