
.storeHeader{
    padding-top: 8rem;
    min-height: 60vh;
    img{
        width: 100%;
        height: 20rem;
    }
}

.commodityContainer{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 10%;

    
    // justify-content: center;
}

.loading{
    img{
        display: block;
        margin: 0 auto;
        width: 40%;
        min-height: 70vh;
    }
}